/* style.css */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    background-color: #2b2841;
    color: #fff;
}

header {
    background-color: #000;
    padding: 20px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #ff5e5e;
}

main {
    flex: 1;
    padding: 40px;
}

.hero {
    background-color: #3f3b5e85;
    background-size: cover;
    background-position: center;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
}

.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
}

.hero-content {
    position: relative;
    z-index: 1;
    padding: 40px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    animation: fadeIn 1s ease-in-out;
}

.logo {
    width: 400px;
    margin-bottom: 20px;
    opacity: 0.8;
}

.download-buttons {
    margin-top: 30px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    text-decoration: none;
    color: #fff;
    border-radius: 5px;
    transition: transform 0.3s;
}

.btn:hover {
    transform: scale(1.1);
}

.windows-btn {
    background-color: rgba(5, 109, 254, 0.438);
}

.linux-btn {
    background-color: rgba(177, 85, 0, 0.858);
}

section {
    margin: 20px 0;
}

.screenshot {
    text-align: center;
    margin-bottom: 20px;
}

.screenshot img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    transition: opacity 0.5s;
}

.screenshot img:hover {
    opacity: 0.8;
}

.fade-in {
    animation: fadeIn 1s ease-in-out;
}

footer {
    background-color: #000;
    color: #fff;
    padding: 20px;
    text-align: center;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}
